$border-radius: 5px;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
   "display display display display"
   "clear delete percent operation"
   "btn btn btn operation"
   "btn btn btn operation"
   "btn btn btn operation"
   "zero decimal equals equals";
}

.display {
  grid-area: display;
  bordeR: 1px solid #ccc;
  border-radius: $border-radius;
}

.btnEquals {
  grid-area: equals;
}

.btn {
  border-radius: $border-radius;
}
